/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(106, 6, 152, 0.477), #8a2be2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg,rgba(56, 28, 116, 0.7), #4c00ff)
}

/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../../assets/images/invitation/background/background_photo.png'); /* invitation */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 142vh; /* Full viewport height scrollable page */
}

/* Portrait orientation */
@media all and (orientation: portrait) {
    body {
        background-image: url('../../assets/images/invitation/background/photo_background.png'); /* mobile_background.webp */
    }
}

.photo-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.floating-photo {
    position: absolute;
    width: 20vw;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    animation: float 6s ease-in-out infinite;
    /* Custom property for rotation */
    --rotate-angle: 0deg;
}

/* Positions and rotations for each photo */
.floating-photo:nth-child(1) {
    top: 10%;
    left: 5%;
    --rotate-angle: -10deg;
    --float-distance: 20px;
}

.floating-photo:nth-child(2) {
    top: 20%;
    right: 5%;
    --rotate-angle: 8deg;
    --float-distance: 25px;
}

.floating-photo:nth-child(3) {
    top: 50%;
    left: 20%;
    --rotate-angle: -5deg;
    --float-distance: 15px;
}

.floating-photo:nth-child(4) {
    bottom: 15%;
    right: 20%;
    --rotate-angle: 12deg;
    --float-distance: 30px;
}

.floating-photo:nth-child(5) {
    bottom: 20%;
    left: 15%;
    --rotate-angle: -7deg;
    --float-distance: 22px;
}

/* Floating animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(var(--rotate-angle));
    }
    50% {
        transform: translateY(calc(-1 * var(--float-distance))) rotate(var(--rotate-angle));
    }
}

/* Center button styling */
.center-button {
    position: absolute;
    bottom: -29%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    text-align: center;
}


.btn {
    position: relative; 
    text-align: center;
    display: inline-block;
    padding: 15px 42px; 
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(45deg, #ff6f61, #de1d1d);
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn:hover {
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 111, 97, 0.6);
    transform: scale(1.05);
}

.btn::before {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.1) 50%);
    transform: rotate(45deg);
    transition: all 0.7s ease;
}

.btn:hover::before {
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
}

@media screen and (max-width: 768px) {
    .floating-photo {
        width: 30vw;
    }

    .floating-photo:nth-child(1) {
        top: 5%;
        left: 2%;
    }

    .floating-photo:nth-child(2) {
        top: 15%;
        right: 2%;
    }

    .floating-photo:nth-child(3) {
        top: 40%;
        left: 10%;
    }

    .floating-photo:nth-child(4) {
        bottom: 10%;
        right: 10%;
    }

    .floating-photo:nth-child(5) {
        bottom: 15%;
        left: 5%;
    }
}

@media screen and (max-width: 480px) {
    .floating-photo {
        width: 40vw;
    }

    .btn {
        font-size: 18px;
        padding: 10px 20px;
    }
}

/* PETALS ANIMATIONS */
.petal {
    position: absolute;
    width: 42px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    animation-name: fall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.petal.spin {
    animation-name: fall, spin;
    animation-duration: 10s, 10s;
}

.petal.drift-left {
    animation-name: fall, drift-left;
    animation-duration: 10s, 10s;
}

.petal.drift-right {
    animation-name: fall, drift-right;
    animation-duration: 10s, 10s;
}

.petal.float-up {
    animation-name: fall, float-up;
    animation-duration: 10s, 5s;
}

@keyframes fall {
    0% {
        transform: translate(0, 0) scale(var(--scale)) rotate(0deg);
    }
    50% {
        transform: translate(calc(var(--driftX) / 2), 50vh) scale(var(--scale)) rotate(calc(var(--rotate) / 2));
    }
    100% {
        transform: translate(var(--driftX), 100vh) scale(var(--scale)) rotate(var(--rotate));
        opacity: 0;
    }
}

/* Keyframes for repulsive effect */
@keyframes repulse {
    0% {
        transform: translate(0, 0) scale(var(--scale));
    }
    100% {
        transform: translate(var(--repulseX), var(--repulseY)) scale(var(--scale));
        opacity: 0;
    }
}

.beautiful-textboxca {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    bottom: -20%;
    background-color: #f9f9f970;
    backdrop-filter: blur(42px) saturate(180%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    position: absolute; 
    transform: translateX(-50%); 
    text-align: center;
    left: 50%;
}

.beautiful-textboxca h2 {
    margin-top: 0;
    color: #ededed;
}

.beautiful-textboxca ul {
    padding-left: 20px;
}

.beautiful-textboxca ul li {
    list-style-type: circle;
    color: #444;
    margin-bottom: 10px; 
    padding: 1%; 
}
.beautiful-textboxca .image-container img {
    max-width: 100%; /* Makes sure the image doesn't exceed the width of its container */
    max-height: 400px; /* Limits the height to 400px, adjust as needed */
    width: auto; /* Keeps the aspect ratio intact */
    height: auto; /* Keeps the aspect ratio intact */
    object-fit: contain; /* Ensures the image fits well within its limits */
    display: block; /* Avoids inline space below the image */
    margin: 0 auto; /* Centers the image if needed */
}


.beautiful-textboxca::before {
    content: '\2708'; /* Plane symbol */
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: -15px;
    left: 20px;
}

.beautiful-textboxca::after {
    content: '\1F338'; /* Cherry blossom symbol */
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    bottom: -15px;
    right: 20px;
}


.beautiful-textboxfr {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    bottom: -20%;
    background-color: #f9f9f970;
    backdrop-filter: blur(42px) saturate(180%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    position: relative; 
    transform: translateX(-50%); 
    text-align: center;
    left: 50%;
}

.beautiful-textboxfr h2 {
    margin-top: 0;
    color: #ededed;
}

.beautiful-textboxfr ul {
    padding-left: 20px;
}

.beautiful-textboxfr ul li {
    list-style-type: circle;
    color: #444;
    margin-bottom: 10px; 
    padding: 1%; 
}

.beautiful-textboxfr::before {
    content: '\2708'; /* Plane symbol */
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: -15px;
    left: 20px;
}

.beautiful-textboxfr::after {
    content: '\1F338'; /* Cherry blossom symbol */
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    bottom: -15px;
    right: 20px;
}